# Core modules (mandatory)
jupyterlite-core==0.1.1
jupyterlab~=3.5.1

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.0.6

# Python: ipyevents library for Jupyter notebooks (optional)
#ipyevents>=2.0.1
# Python: interative Matplotlib library for Jupyter notebooks (optional)
#ipympl>=0.8.2

numpy
pandas
scikit-learn
matplotlib
Pillow
